/* General */
body {
    font-family: Montserrat;
    font-size: 18px;
}

h1 {
    font-size: 30px;
    text-align: center;
    font-weight: bold;
    margin-top: 8px;
}

img {
    width: 100%;
    border-radius: 10px;
}

.container {
    width: 100%;
    max-width: 1248px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 24px;
    padding-right: 24px;
}

/* Navbar */
.navbar {
    font-family: DM Sans;
    font-size: 20px;
    padding-left: 0px;
    padding-right: 0px;
    vertical-align: middle
}

.navbar-brand {
    font-weight: bold;
    font-size: 25px;
}

.right-link {
    padding-right: 8px;
}

.bottom-link {
    padding-bottom: 16px;
}

.navbutton{ 
    padding: 1px 0px 8px 0px;
}

.btn {
    font-family: DM Sans;
    font-size: 20px;
}

/* Home Page */
.home {
    padding-top: 30px;
}

.banner {
    margin-top: 30px;
}

/* About Section */
.about {
    margin: 30px 0px 70px 0px;
}

ul {
    padding-left: 20px;
}

/* Projects Section */
.card-header {
    justify-content: center;
}

.card {
    margin-top: 30px;
    margin-bottom: 30px;
}

/* Footer Section */
footer {
    margin: 40px 0px 0px 0px;
}

.social-icon {
    color: #000;
}

.github {
    margin: 0px 5px 0px 0px;
}

a.social-icon:link {
    color: #000;
    text-decoration: none;
}

a.social-icon:visited {
    color: #000;
    text-decoration: none;
}

a.social-icon:active {
    color: #000;
    text-decoration: none;
}

.footer-text {
    margin: 0;
    color: #808080;
}

.github:hover {
    color: #171515 
}

.linkedin:hover {
    color: #0072b1
}
